# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.PORT=4001
*.MongoDBURI=mongodb+srv://mubashirahmadcse2020:Zde819SQaPan9Hwu@project2.h8ibr.mongodb.net/?retryWrites=true&w=majority&appName=project2
